<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech-Shop</title>


   <!---------------------------------------------- FavIcon ------------------------------------------->
   <link rel="icon" type="image/x-icon" href="https://icons.iconarchive.com/icons/jozef89/services-flat/512/ecommerce-icon.png">


  <!------------------------------------------------STYLESHEETS  --------------------------------------->
  <!-- Bootsrap cdn  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

  <!-- stylesheet  -->
  <link rel="stylesheet" href="stylesheets/style.css" />

  <!-- personal -->
  <link rel="stylesheet" href="" />

  <!-- font awesome kits  -->
  <script src="https://kit.fontawesome.com/859d0f0f16.js" crossorigin="anonymous"></script>
</head>

<body onload="preloaderOFF()">

  <!-- spinner  -->
  <div id="preloader">
    <div id="loader">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading your site. Keep Patience</span>
      </div>
    </div>
  </div>
  </div>
  </div>


  <!-- NAV BAR  -->
  <header id="navbar-header"></header>

  <main class="container my-3 position-relative" >
    <h5 class="text-muted my-2 ms-1 ms-md-3"><i class="fa-solid fa-cart-flatbed text-primary me-1 "></i>Cart Items</h5>
    <%= massage %>
  
      <div class="table-responsive">
        <table class="table table-striped table-hover align-middle text-center">

            <thead>
                <tr>
                    <th scope="col">Poduct Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Confirm Order</th>
                </tr>
            </thead>
            <tbody  id="cart-item-container">
                
              
            </tbody>

        </table>
    </div>
    
    

    <button class="btn border border-1 text-dark my-0 text-end position-absolute end-0 top-100 bg-danger " onclick="clearCart()"title="clear cart"><i class="fa-solid fa-trash"></i></button>


  </main>



  <!-- Footer -->
  <footer id="main-footer"></footer>

  <!-------------------------------------------                JS FILES               ----------------------------->

  <!-- boostrap js cdn -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

<script>
      const getCart = () => {
      let cart = window.localStorage.getItem('cart');
      let cartObj;
      if (cart) {
        cartObj = JSON.parse(cart); 
      } else {
        cartObj ={}
      }
      return cartObj;
    }
  
//display storage
const displayProductFromStorage =() =>{
  const cartContainer = document.getElementById('cart-item-container');
  const cart = getCart();
  for(const name in cart){
    const tr = document.createElement('tr');
    
    tr.innerHTML = `   
 
                    <form action="/order" method="post"
                       >
                        <th scope="row">${name}</th> 
                        <td class="d-flex justify-content-center">
                            <div class="input-group number-spinner" style="width: 50%;">
                                <input type="number" min="0" max="5" name="phone_count" value="1" class="form-control text-center unit">
                            </div>
                        </td>
                       <td>${cart[name]}</td>
                        <td>
                            <div class=" d-flex justify-content-center">
                                <input class=" btn btn-success " value="Order" type="submit">
                            </div>
                        </td>
                        <input type="hidden" name="phone_name" value="${name}">
                        <input type="hidden" name="phone_price" value="${cart[name]}">
                    </form>

              
    `;
    cartContainer.appendChild(tr);
    // console.log(name);
    // console.log(name,' ',(cart[name]===isNaN));

  }
 }




//proceed to pay
 const clearCart = () =>{
  let text;
  if (confirm("You want to clear cart ?") == true) {
    localStorage.removeItem('cart');
    location.assign('/');
  } 
  
  
 }
 displayProductFromStorage();




</script>

  <!-- header  navbar adding js   -->
  <script src="js/headerNav.js"></script>

  <!-- footer adding js  -->
  <script src="js/footer.js"></script>

  <!-- private js file  -->
  <!-- <script src="js/DetailView.js"></script> -->

  <!-- common js file  -->
  <script src="js/commonFunction.js"></script>
</body>

</html>