<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech-Shop</title>


  <!------------------------------------------------STYLESHEETS  --------------------------------------->
  <!-- Bootsrap cdn  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

  <!-- stylesheet  -->
  <link rel="stylesheet" href="stylesheets/style.css" />

  <!-- personal -->
  <link rel="stylesheet" href="" />

  <!-- font awesome kits  -->
  <script src="https://kit.fontawesome.com/859d0f0f16.js" crossorigin="anonymous"></script>
</head>

<body onload="preloaderOFF()">

  <!-- spinner  -->
  <div id="preloader">
    <div id="loader">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading your site. Keep Patience</span>
      </div>
    </div>
  </div>
  </div>
  </div>


  <!-- NAV BAR  -->
  <header id="navbar-header"></header>

  <main class="container my-3" >
    <p class="ms-1 ms-sm-3 fw-bold text-dark fs-4 " id="phone-name"></p>
    <div class="row  justify-content-center my-5" id="cart-item-container">
  
     <div class="col-12 row my-1" style="height: 5em;">       
      <form action="/cart" method = "post"class="col-12 row border border-1 my-1 d-flex align-items-center">
        <p class="col-12 col-md-5 text-center text-md-start my-auto" style="font-size: 1.25rem;">${phone.name}</p>

        <div class="col-md-4 center-item">
          <div class="d-flex justify-content-between">
            <div class="input-group number-spinner d-flex justify-content-between" style="width: 50%;">          
              <button id="case-minus" class="btn btn-default"><i class="fas fa-minus"></i></button>
              <input type="number" min="0" class="form-control text-center" id="case-number"
              value="1" readonly>             
              <button class="btn btn-default" id="case-plus"><i class="fas fa-plus"></i></button>              
           </div>
           <h5 class="ms-3 my-auto">734</h5>
          </div>  
       </div> 

          <input type="hidden" name="phone_code" value="${phone.url}">
          <div class="col-6 col-md-3 d-grid gap-2 d-flex justify-content-center">
              <input class=" btn btn-secondary " type="submit">
          </div>
      </form>
    </div>
   
     <div class="col-12 row" style="height: 5em;">       
      <form action="/cart" method = "post"class="col-12 row border border-1 my-1 d-flex align-items-center">
        <p class="col-12 col-md-5 text-center text-md-start my-auto" style="font-size: 1.25rem;">${phone.name}</p>

        <div class="col-md-4 center-item">
          <div class="d-flex justify-content-between">
            <div class="input-group number-spinner d-flex justify-content-between" style="width: 50%;">          
              <button id="case-minus" class="btn btn-default"><i class="fas fa-minus"></i></button>
              <input type="number" min="0" class="form-control text-center" id="case-number"
              value="1" readonly>             
              <button class="btn btn-default" id="case-plus"><i class="fas fa-plus"></i></button>              
           </div>
           <h5 class="ms-3 my-auto">734</h5>
          </div>  
       </div> 

          <input type="hidden" name="phone_code" value="${phone.url}">
          <div class="col-6 col-md-3 d-grid gap-2 d-flex justify-content-center">
              <input class=" btn btn-secondary " type="submit">
          </div>
      </form>
    </div>
    </div>




  </main>



  <!-- Footer -->
  <footer id="main-footer"></footer>

  <!-------------------------------------------                JS FILES               ----------------------------->

  <!-- boostrap js cdn -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

<script>
  
//display storage
const displayProductFromStorage =() =>{
  const cart = getCart();
  for(const name in cart){
    console.log(name);
  }
 }
//proceed to pay
 const ProceedToPay = () =>{
  localStorage.removeItem('cart');
 }
 




</script>

  <!-- header  navbar adding js   -->
  <script src="js/headerNav.js"></script>

  <!-- footer adding js  -->
  <script src="js/footer.js"></script>

  <!-- private js file  -->
  <!-- <script src="js/DetailView.js"></script> -->

  <!-- common js file  -->
  <script src="js/commonFunction.js"></script>
</body>

</html>