<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech-Shop</title>

    <!------------------------------------------------STYLESHEETS  --------------------------------------->
    <!-- Bootsrap cdn  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <!-- stylesheet  -->
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- personal -->
    <link rel="stylesheet" href="stylesheets/PageWithModal.css" />

    <!-- font awesome kits  -->
    <script
      src="https://kit.fontawesome.com/859d0f0f16.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- NAV BAR  -->
    <header id="navbar-header"></header>

    <div class="container">
      <h1>Welocome to Tech-Shop</h1>
      <p>Name :</p>
      <p>Email Address :</p>
      <p>Your point :</p>
      <p>You Purchsed :</p>
    </div>
    <div class="container">
      <form action="/signout" method="post">
        <input type="submit" class="btn" value="Sign Out" />
      </form>
    </div>

    <!-- Footer -->
    <footer id="main-footer"></footer>

    <!-- header  navbar adding js   -->
    <script src="js/headerNav.js"></script>

    <!-- footer adding js  -->
    <script src="js/footer.js"></script>

    <!-- common js file  -->
    <script src="js/commonFunction.js"></script>
  </body>
</html>
